* {
    margin: 0;
    padding: 0;
}

body {
    background: #1d1c1c;
    color: #FFFFFF;
}

.titulo {
    text-align: center;
    margin: 30px 0; 
}

hr {
    margin: 0 0 50px 0;
}

.lista {
    padding-left: 60px;
    margin: 0 0 50px 0;
}

img {
    margin: 0 auto;
    display: block;
}
